{% extends 'base.html' %}
{% block title %}À propos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">À propos de la plateforme</h2>
    <p>
        Cette plateforme web a été conçue pour simplifier et moderniser le processus de demande de retrait 
        d'attestation et de diplôme au sein de la Faculté des Sciences et Techniques de Natitingou (FAST).
    </p>
    <p>
        Grâce à cet outil, les étudiants peuvent soumettre leurs demandes en ligne, suivre l’état d’avancement, 
        et communiquer directement avec l’administration via un système de messagerie intégré.
        De leur côté, les administrateurs peuvent consulter, valider ou refuser les demandes, ajouter les documents 
        officiels et échanger avec les étudiants de manière centralisée et efficace.
    </p>
    <p>
        L’objectif principal de cette plateforme est de réduire les démarches physiques, 
        d’accélérer le traitement des dossiers et de garantir une meilleure traçabilité des échanges.
    </p>
    <p>
        Cette initiative s’inscrit dans une démarche de digitalisation des services universitaires, 
        au bénéfice des étudiants et du personnel administratif.
    </p>
</div>
{% endblock %}
