{% extends 'base.html' %}
{% block title %}Connexion{% endblock %}

{% block content %}
<div class="auth-outer">
    <div class="auth-card shadow-lg rounded-4">
        <h2 class="text-center mb-2 fw-bold text-dark">Connexion</h2>

        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="mb-2">
                {{ form.email.label(class="form-label mb-1") }}
                {{ form.email(class="form-control form-control-sm py-1", placeholder="Entrez votre email") }}
            </div>

            <div class="mb-2 position-relative">
                {{ form.password.label(class="form-label mb-1") }}
                {{ form.password(class="form-control", id="password", placeholder="Mot de passe") }}
                <i class="bi bi-eye eye-toggle" id="togglePassword"></i>
            </div>

            <div class="mt-2">
                {{ form.submit(class="btn btn-success w-100 btn-sm force-bootstrap-color") }}
            </div>
        </form>

        <p class="text-center mt-2 mb-0" style="font-size: 0.85rem;">
            Pas encore inscrit ? <a href="{{ url_for('routes.confirmation') }}">Créer un compte</a>
        </p>
    </div>
</div>
{% endblock %}
