{% extends 'base.html' %}

{% block title %}Accueil - Retrait Diplômes{% endblock %}

{% block content %}
<div class="hero-section position-relative">
    <!-- Boutons positionnés à gauche et à droite -->
    <div class="hero-section accueil-page position-relative">
    <div class="hero-buttons accueil-buttons px-5 pt-4">
        <a href="{{ url_for('routes.confirmation') }}" class="btn btn-orange-accueil">
            <i class="bi bi-person-plus-fill me-1"></i> S'inscrire
        </a>
        <a href="{{ url_for('routes.connexion') }}" class="btn btn-bleu-accueil">
            <i class="bi bi-box-arrow-in-right me-1"></i> Se connecter
        </a>
    </div>
    </div>


    <!-- Texte centré avec animation -->
    <div class="hero-text animated-fade-in text-center px-3">
        <h2 class="mb-3">Bienvenue sur la plateforme de retrait d'attestation et diplôme</h2>
        <div class="alert alert-info shadow-sm px-4 py-3 mt-3 rounded-3 text-dark fs-5 mx-auto" style="max-width: 800px;">
            Ce site vous permet de simplifier vos démarches administratives en déposant vos demandes en ligne,
            de suivre leur traitement, et de récupérer facilement vos documents officiels.
        </div>
    </div>
</div>
{% endblock %}

