# Environnement virtuel
venv/
ENV/
env/
.venv/

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Fichiers d’environnement
.env
.env.*
instance/

# Base de données
*.db
*.sqlite3

# Fichiers de logs
logs/
*.log

# Migrations (facultatif selon usage)
migrations/

# Cache de l'éditeur
.vscode/
.idea/
*.swp

# Autres fichiers temporaires
.DS_Store
Thumbs.db
